<div class="container" style="background: url({{ absolute_url(asset('img/bg.jpg')) }}); background-repeat: no-repeat; background-position:left top; background-size: contain; padding: 30px;overflow:hidden;font-size: 14px;">
    <img src="{{ absolute_url(asset('img/logo-game.png')) }}" alt="Ruleta Mundialista" width="150">
    <img src="{{ absolute_url(asset('img/logo-colsubsidio.png')) }}" alt="Colsubsidio" width="150" style="margin-left: 20%; display: inline-block; margin-bottom: 30px;">

    <h3 style="color: white; width: 40%;">Bienvenido <br> <span style="color: #f8bb43;">{{user.name|title}} {{user.lastName|title}}</span></h3>

    <p style="color: white; width: 40%;">
        Basta de entrenar, ¡y comienza a jugar! Puedes ingresar con tú numero de cédula o email.
    </p>

    <br><br>

    <div style="color: white; text-align: center;width:40%;">
        <h4 style="font-size: 16px; color: white;text-align: center;margin-bottom: -5px;">Correo</h4>
        <p style="color: white; text-align: center;">
            <span style="border:1px solid white; padding: 10px 20px; border-radius: 50px;">
                {{user.email|raw}}
            </span>
        </p>
        <h4 style="font-size: 16px; color: white;text-align: center;margin-bottom: -5px;margin-top: 30px;">Cédula</h4>
        <p style="color: white; text-align: center;">
            <span style="border:1px solid white; padding: 10px 20px; border-radius: 50px;">
                {{user.username}}
            </span>
        </p>
    </div>

    <br><br>

    <p style="color: white; width: 40%;">
       Ingresa al siguiente link: <br><br>
       <a href="{{ url('homepage') }}" style="color: #f8bb43;text-decoration:none;">{{ url('homepage') }}</a>
    </p>

    <p style="color: white; width: 40%;">
        Recuerda que al ingresar todos los días hasta el <span style="color: #f8bb43;">15 de julio</span> acumulará más balones, y más oportunidades tendrás de ganar.
    </p>

    <p style="color: white; width: 40%;">Conoce aquí todas las reglas del juego. <br><a href="http://ruletacolsubsidio.com/terminos-condiciones-ruleta-mundialista-colsubsidio.pdf" style="color: #f8bb43; text-decoration: none;">Términos y condiciones de la Ruleta Mundialista Colsubsidio.</a></p>
</div>
