<div class="modal fade buy-modal" id="buyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="{{ asset('img/logo-colsubsidio.png') }}" class="modal-brand margin-top-17" alt="Colsubsidio">
                <button type="button" class="close pull-right hidden-sm hidden-md hidden-lg" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title pull-right text-right" id="myModalLabel">
                    Compra Aquí
                </h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="col-xs-12 col-sm-5 pull-left">
                        <a href="http://piscilago.co/" target="_blank">
                            <div class="logo-container logo-piscilago-container">
                                <img src="{{ asset('img/logo-piscilago.png') }}" alt="Logo Piscilago" class="img-responsive">
                            </div>
                            <div class="url-container text-center">
                                piscilago.co
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-5 pull-right">
                        <a href="http://elcubocolsubsidio.co/" target="_blank">
                            <div class="logo-container logo-cubo-container">
                                <img src="{{ asset('img/logo-cubo.png') }}" alt="Logo Cubo" class="img-responsive">
                            </div>
                            <div class="url-container text-center">
                                elcubocolsubsidio.co
                            </div>
                        </a>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="col-xs-12 col-sm-5 pull-left">
                        <a href="http://hotelescolsubsidio.com/" target="_blank">
                            <div class="logo-container logo-hoteles-container">
                                <img src="{{ asset('img/logo-hoteles.png') }}" alt="Logo Hoteles" class="img-responsive">
                            </div>
                            <div class="url-container text-center">
                                hotelescolsubsidio.com
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-5 pull-right">
                        <a href="http://clubescolsubsidio.co/" target="_blank">
                            <div class="logo-container logo-clubes-container">
                                <img src="{{ asset('img/logo-clubes.png') }}" alt="Logo Clubes" class="img-responsive">
                            </div>
                            <div class="url-container text-center">
                                clubescolsubsidio.co
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
