<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.png') }}">

        <title>{% block title %}Ruleta Mundialista Colsubsidio{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/main.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'default/navigation.html.twig' %}

        <div class="container main-container">
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                {% include 'Partials/playerInfo.html.twig' %}
            {% endif %}

            {% block body %}{% endblock %}
        </div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <img src="{{ asset('img/bg-footer-rules.png') }}" alt="Vigilado">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 text-muted">
                        Manual de políticas y procedimientos para el trato de datos personales / Aviso de privacidad / <a href="#" id="termsModalBtn">Ver términos y condiciones.</a>
                    </div>
                    <div class="col-xs-12 col-sm-6 text-right">
                        <img src="{{ asset('img/bg-footer-blue.png') }}" alt="Recreación y Deportes">
                    </div>
                </div>
            </div>
        </footer>

        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}

        {% include 'Partials/buyModal.html.twig' %}
        {% include 'Partials/termsModal.html.twig' %}

        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
            {% include 'Partials/inviteModal.html.twig' %}
            {% include 'Partials/rankingModal.html.twig' %}
        {% endif %}
    </body>
</html>
