{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="container">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                <img src="{{ asset('img/logo-game.png') }}" class="main-logo-game" alt="Trivia Mundialista">
            </div>
        </div>

        <div class="container">
            <div class="col-xs-12  col-sm-4 text-center">
                <div class="info">
                    <span>
                        Por cada <span class="yellow">$80.000 pesos en compras</span> de productos de Recreación y Turismo Colsubsidio podrás registrarte.
                    </span>

                    <span class="middle">¡Sumar balones es muy fácil!</span>

                    <ul>
                        <li>1. Gira la ruleta</li>
                        <li>2. Responde tres preguntas diarias</li>
                        <li>3. Suma todos los balones que puedas</li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-12  col-sm-4 text-center">
                <img src="{{ asset('img/roulette.png') }}" class="roulette" alt="Ruleta">
            </div>

            <div class="col-xs-12  col-sm-4 play">
                <a href="{{ path('fos_user_security_login') }}">
                    <img src="{{ asset('img/btn-login.png') }}" class="btn-play" alt="Jugar">
                </a>

                <a href="{{ path('fos_user_registration_register') }}">
                    <img src="{{ asset('img/btn-register.png') }}" class="btn-play" alt="Jugar">
                </a>
            </div>
        </div>
    </div>
{% endblock %}
